@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-zinc-800;
  }
  
  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full;
  }
}